/* @import "./styles/theme.scss"; */
@import "./styles/nav.scss";
@import "./styles/category.scss";
@import "./styles/categoryItem.scss";
@import "./styles/ConnectWalletCard.scss";
@import "./styles/home.scss";
@import "./styles/pagination.scss";
@import "./styles/footer.scss";
@import "./styles/walletDetail.scss";
@import "./styles/ArtWork.scss";
@import "./styles/Profile.scss";

@font-face {
  font-family: "Yuanti SC";
  src: url(./assets/Yuanti-SC.ttf);
}

body {
  min-height: 100vh;
  background-size: cover;
  background-position: center center;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  // background-repeat-x: no-repeat;
  // background-repeat-y: no-repeat;
  background-color: rgb(26, 17, 13);
  background-image: url(./assets/image-bg.png);
}
.App {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-variant: no-common-ligatures no-discretionary-ligatures
    no-historical-ligatures no-contextual;
}

.main-wrapper {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  overflow-x: hidden;
}
.ezdYlZ {
  display: flex;
  flex-flow: row nowrap;
  width: 208px;
  overflow: hidden;
  border-right: 1px solid rgb(91, 74, 56);
  transition: width 0.15s linear 0s;
}
.btn-switch-container {
  cursor: pointer;
  display: flex;
  width: 168px;
  margin: 20px auto 0px;
  border-radius: 6px;
  font-family: "Baloo Da";
  overflow: hidden;
  border: 1px solid rgb(214, 164, 133);
}
.btn-switch.ACTIVENAV {
  background: rgb(255, 205, 132);
  color: rgb(114, 47, 13);
}
.btn-switch {
  position: relative;
  width: 50%;
  border-radius: 5px;
  font-family: "Baloo Da";
  height: 32px;
  line-height: 32px;
  text-decoration: none;
}
.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  z-index: 99999;
}
.dropdown-option-img{
  width:30px;
  height: 30px;
}