.w-100 {
  width: 100%;
}
.eHORUR {
  text-decoration: none;
  cursor: pointer;
  color: rgb(2, 129, 226);
  font-weight: 500;
}

.eHORUR:hover {
  text-decoration: underline;
}

.eHORUR:focus {
  outline: none;
  text-decoration: underline;
}

.eHORUR:active {
  text-decoration: none;
}

input,
button {
  font-family: Inter, sans-serif;
  letter-spacing: -0.018em;
}

* {
  box-sizing: border-box;
}

button {
  user-select: none;
}

.iMufGK {
  box-sizing: border-box;
  margin: 17px 0px 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.lfjrKV {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

// .fjQMYg {
//   padding: 12px 18px;
//   width: 100%;
//   font-weight: 500;
//   text-align: center;
//   border-radius: 10px;
//   outline: none;
//   border: 1px solid transparent;
//   font-family: "Baloo Da";
//   text-decoration: none;
//   display: flex;
//   -webkit-box-pack: center;
//   justify-content: center;
//   flex-wrap: nowrap;
//   -webkit-box-align: center;
//   align-items: center;
//   cursor: pointer;
//   position: relative;
//   z-index: 1;
//   background-color: rgb(255, 205, 132);
//   color: rgb(114, 47, 13);
// }

// .fjQMYg:disabled {
//   cursor: auto;
// }

// .fjQMYg:focus {
//   box-shadow: rgb(255, 195, 106) 0px 0px 0px 1pt;
//   background-color: rgb(255, 195, 106);
// }

// .fjQMYg:hover {
//   background-color: rgb(255, 195, 106);
// }

// .fjQMYg:active {
//   box-shadow: rgb(255, 184, 81) 0px 0px 0px 1pt;
//   background-color: rgb(255, 184, 81);
// }

// .fjQMYg:disabled {
//   background-color: rgb(91, 74, 56);
//   color: rgb(225, 204, 172);
//   cursor: auto;
//   box-shadow: none;
//   border: 1px solid transparent;
//   outline: none;
//   opacity: 1;
// }

.izSaci {
  position: relative;
  margin: 0px 15px 0px 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  height: 40px;
  user-select: none;
  padding: 0px 16px;
  background: rgb(25, 66, 232);
  border-radius: 8px;
}

.cRXyHY {
  position: relative;
  margin: 0px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  height: 40px;
  user-select: none;
  padding: 0px 16px;
  background: rgb(12, 61, 255);
  border-radius: 8px;
}

.laDAZV {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.kRskKF {
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  color: rgb(33, 95, 230);
}

.dGLyHd {
  margin-left: 8px;
}

.rTaEQ {
  position: absolute;
  top: 50px;
  bottom: initial;
  left: initial;
  right: 0px;
  background: rgb(14, 72, 207);
  border-radius: 10px;
  box-shadow: none;
  min-width: 72px;
  max-width: 300px;
  max-height: 0px;
  overflow: hidden auto;
  transition: all 0.3s ease 0s;
  z-index: 5;
  opacity: 1;
}

.kMPAcf {
  margin: 0px;
  padding: 8px 0px;
}

.bTwXNg {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  color: rgb(214, 164, 133);
  font-size: 12px;
  line-height: 24px;
  padding: 4px 14px;
  width: 110px;
  font-weight: bold;
}

.bTwXNg.CURSELEST {
  background: rgb(214, 164, 133);
  color: rgb(255, 243, 224);
}

.bTwXNg:hover {
  opacity: 0.6;
}

.dmCvbD {
  width: auto;
  visibility: visible;
}

.cesPaB {
  width: auto;
  // visibility: hidden;
}

.juiqNm {
  transform: rotate(180deg);
}

.khqXDl {
  margin-left: 10px;
}

.dVEfLL table {
  width: 100%;
  border: 0px;
  margin: 0px;
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: 14px;
  font-weight: 700;
  position: relative;
}

.dVEfLL table td:first-child {
  padding-left: 45px;
}

.dVEfLL table thead {
  background: rgb(247, 228, 206);
  width: 100%;
}

.dVEfLL table thead td {
  height: 48px;
}

.dVEfLL table thead td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.dVEfLL table thead td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dVEfLL table tbody tr {
  border-bottom: 1px solid rgb(247, 228, 206);
}

.dVEfLL table tbody tr td {
  height: 56px;
}

.dVEfLL table tbody .nothing {
  text-align: center;
  border-bottom: none;
}

.dVEfLL table tbody .nothing td {
  padding: 30px 0px;
  height: auto;
  line-height: 0;
}

@media (max-width: 1280px) {
  .dVEfLL {
    width: 100%;
  }
}

.hwzSGe {
  width: 409px;
  max-height: 280px;
}

@media (max-width: 1280px) {
  .hwzSGe {
    margin: auto;
    width: 100%;
  }
}

.kSrrRk table {
  width: 100%;
  border: 0px;
  margin: 0px;
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: 14px;
  font-weight: 700;
}

.kSrrRk table .first {
  width: 93px;
  max-width: 120px;
}

.kSrrRk table .first div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.kSrrRk table .second {
  width: 127px;
  max-width: 127px;
}

.kSrrRk table .second div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.kSrrRk table .third {
  width: 179px;
}

.kSrrRk table .four {
  width: 172px;
}

.kSrrRk table td div {
  line-height: 20px;
  white-space: nowrap;
}

.kSrrRk table td:first-child {
  padding-left: 19px;
}

.kSrrRk table thead {
  background: rgb(247, 228, 206);
}

.kSrrRk table thead td {
  height: 48px;
  line-height: 48px;
}

.kSrrRk table thead td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.kSrrRk table thead td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.kSrrRk table tbody tr {
  border-bottom: 1px solid rgb(247, 228, 206);
}

.kSrrRk table tbody tr td {
  height: 56px;
  line-height: 56px;
}

@media (max-width: 960px) {
  .kSrrRk {
    width: 100%;
    margin-top: 40px;
  }
}

.iWKiUE {
  width: 689px;
  max-height: 280px;
}

@media (max-width: 960px) {
  .iWKiUE {
    width: 100%;
    overflow: scroll;
  }
}

.hTbIcy {
  color: rgb(214, 164, 133);
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 600px) {
  .hTbIcy {
    margin-left: 0px;
    margin-right: 8px;
  }
}

.cteZTW {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 48px;
}

@media (max-width: 960px) {
  .cteZTW {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.jMXpOo {
  background: rgb(50, 41, 37);
  border: 1px solid rgb(91, 74, 56);
  border-radius: 10px;
  padding: 16px;
  width: 330px;
}

.jMXpOo .item {
  display: flex;
  line-height: 28px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

@media (max-width: 1280px) {
  .jMXpOo {
    margin-top: 20px;
    width: 100%;
  }
}

.dpcCFx {
  color: rgb(214, 164, 133);
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 600px) {
  .dpcCFx {
    margin-left: 0px;
    margin-right: 8px;
  }
}

.bejTuu {
  color: rgb(214, 164, 133);
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 600px) {
  .bejTuu {
    margin-left: 0px;
    margin-right: 8px;
  }
}

.gnPdqq {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  flex-wrap: wrap;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.fuBtSA {
  width: auto;
  max-width: 570px;
  line-height: 28px;
  color: rgb(255, 205, 132);
  font-size: 28px;
  margin: 0px;
  font-weight: normal;
  font-family: "Baloo Da" !important;
}

.eGZMCw {
  width: auto;
  line-height: 28px;
  color: rgb(136, 80, 52);
  font-size: 20px;
  margin: 0px;
  font-weight: bold;
  font-family: "Yuanti SC" !important;
}

.eGZMCw .name {
  line-height: 28px;
  color: #885034;
  font-size: 20px;
  font-weight: bold;
  font-family: "Yuanti SC" !important;
  text-decoration: underline;
}

.htdYUC {
  height: 313px;
  margin-top: 17px;
  font-size: 16px;
  line-height: 28px;
  color: rgb(255, 243, 224);
  font-family: "Yuanti SC";
  letter-spacing: 0px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  //   overflow-y: scroll;
}

@media (max-width: 1400px) {
  .htdYUC {
    height: auto;
  }
}

@media (max-width: 960px) {
  .htdYUC {
    text-align: center;
    min-height: 50px;
  }
}

.hZDPML {
  box-sizing: border-box;
  margin: 10px 0px 0px;
  min-width: 0px;
  width: 100%;
  padding: 0px;
  height: 67px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

@media (max-width: 960px) {
  .hZDPML {
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.jtZWSG {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.jnYHDa {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

@media (max-width: 960px) {
  .jnYHDa {
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.fKIGLJ {
  line-height: 28px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 10px;
  color: rgb(136, 80, 52);
  display: flex;
  padding: 0px 20px;
  width: auto;
  height: 32px;
  background: rgb(114, 47, 13);
  border: 1px solid rgb(78, 59, 50);
  text-decoration: none;
  -webkit-box-align: center;
  align-items: center;
}

.fKIGLJ img {
  margin-right: 6px;
  width: 17px;
  height: 16px;
}

@media (max-width: 960px) {
  .fKIGLJ {
    margin: 10px auto 0px;
  }
}

.jmdjgN {
  min-width: 0px;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 1204px;
  margin: 130px auto 0;
  box-sizing: border-box;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

@media (max-width: 1400px) {
  .jmdjgN {
    width: 904px;
  }
}

@media (max-width: 1280px) {
  .jmdjgN {
    width: 628px;
  }
}

@media (max-width: 960px) {
  .jmdjgN {
    width: 605px;
  }
}

@media (max-width: 600px) {
  .jmdjgN {
    width: 100%;
    padding: 0px 20px;
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.fDPcPZ {
  box-sizing: border-box;
  min-width: 0px;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  margin: 49px auto 36px;
  width: calc(100% - 40px);
  -webkit-box-pack: justify;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .fDPcPZ {
    margin-bottom: 15px;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: auto;
  }
}

.dKBxAG {
  box-sizing: border-box;
  min-width: 0px;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  margin: auto;
  width: auto;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .dKBxAG {
    margin-bottom: 15px;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: auto;
  }
}

.hMWRBM {
  width: auto;
  line-height: 37px;
  color: rgb(255, 205, 132);
  font-size: 22px;
  margin: 0px;
  font-weight: normal;
  font-family: "Baloo Da" !important;
}

.cBBzMW {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  padding: 48px 0px 72px;
  align-items: flex-start;
}

@media (max-width: 1400px) {
  .cBBzMW {
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
  }
}

.kLTmXs {
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1280px) {
  .kLTmXs {
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
  }
}

.cWseDY {
  margin: 0px 40px 0px 0px;
  min-width: 0px;
  display: flex;
  position: relative;
  padding: 10px;
  width: 449px;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  height: 706px;
  border: 1px solid rgb(242, 200, 174);
  border-radius: 8px;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
}

@media (max-width: 960px) {
  .cWseDY {
    margin: 0px 0px 30px;
    width: 100%;
    max-width: 361px;
  }
}

.dCxnlS {
  max-width: 100%;
  max-height: 100%;
  border-radius: 18px;
  object-fit: contain;
  cursor: pointer;
  overflow: hidden;
}

.eOceSu {
  min-width: 0px;
  padding: 0px;
  -webkit-box-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 1204px;
  margin: auto;
  box-sizing: border-box;
  -webkit-box-pack: start;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (max-width: 1400px) {
  .eOceSu {
    width: 904px;
  }
}

@media (max-width: 1280px) {
  .eOceSu {
    width: 628px;
  }
}

@media (max-width: 960px) {
  .eOceSu {
    width: 605px;
  }
}

@media (max-width: 600px) {
  .eOceSu {
    width: 100%;
    padding: 0px 20px;
    -webkit-box-pack: center;
    justify-content: center;
  }
}

@media (max-width: 960px) {
  .eOceSu {
    -webkit-box-align: center;
    align-items: center;
  }
}

.hYGOnD {
  width: 100%;
  padding-bottom: 48px;
  min-height: 350px;
  border-bottom: 1px dashed rgba(214, 164, 133, 0.5);
}

@media (max-width: 960px) {
  .hYGOnD {
    height: auto;
    min-height: auto;
  }
}

.elnsAn {
  color: #ac562a;
  font-weight: bold;
  padding: 0px;
  border: none;
  font-size: 14px;
  width: 196px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 10px;
  align-self: flex-start;
  background-color: rgb(255, 205, 132);
}

@media (max-width: 960px) {
  .elnsAn {
    align-self: center;
  }
}

.iKQNHq {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
}

@media (max-width: 1280px) {
  .iKQNHq {
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
  }
}

@media (max-width: 960px) {
  .iKQNHq {
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
  }
}

.css-1v8u5e3 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(214, 164, 133);
  font-family: "Yuanti SC";
  font-weight: bold;
}

.css-bzqoma {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 500;
  font-size: 40px;
  font-family: "Baloo Da";
  color: #ffcd84;
}

.css-5py86v {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-size: 28px;
  color: rgb(214, 164, 133);
  font-family: "Baloo Da";
}

.css-2otet {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 700;
  font-size: 14px;
  color: rgb(255, 205, 132);
}

.css-1h6a0y4 {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-weight: 700;
  font-size: 14px;
  color: rgb(214, 164, 133);
}

.css-h4hmwt {
  box-sizing: border-box;
  margin: 0px 0px 24px;
  min-width: 0px;
  font-size: 22px;
  font-family: "Baloo Da";
  color: #ffcd84;
}

.css-1m61rcj {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(214, 164, 133);
}

.css-n3xmru {
  box-sizing: border-box;
  margin: 10px 0px 0px;
  min-width: 0px;
  color: rgb(197, 133, 96);
  font-size: 14px;
}

.css-13m028r {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(197, 133, 96);
  max-width: 100%;
}

.css-1i7ssjz {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  color: rgb(197, 133, 96);
}
.ekhmpZ {
  width: 66px;
  line-height: 28px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: underline;
  margin-left: 10px;
  color: rgb(136, 80, 52);
}
